{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h1 class="text-center m-3">
            Book List
        </h1>
        <table class="table table-light table-striped">
            <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">{% trans "Title" %}</th>
                <th scope="col">{% trans "Author" %}</th>
                <th scope="col">{% trans "Price" %}</th>
                <th scope="col">{% trans "ISBN" %}</th>
                <th scope="col">{% trans 'Published Date' %}</th>
                <th scope="col">{% trans 'Buttons' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr class="text-center">
                    <th scope="row">{{ book.id }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>${{ book.price }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.published_date }}</td>
                    <td class="d-flex align-items-start">
                        <a href="{% url 'update' book.id %}" class="btn btn-primary">{% trans "Update" %}</a>
                        <a href="{% url 'delete' book.id %}" class="btn btn-danger mx-3">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="paginations m-auto">
            {% include 'pagination.html' with page=books %}
        </div>
    </div>


{% endblock %}