{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center m-3">
            Create Book
        </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputTitle" placeholder="Title" name="title">
                <label for="floatingInputTitle">Title</label>
            </div>
            <select class="form-select mb-3" aria-label="Default select example" name="author">
                <option value="" disabled selected>Select an Author</option>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.full_name }}</option>
                {% endfor %}
            </select>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInputPrice" placeholder="Price" name="price">
                <label for="floatingInputPrice">Price</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="about" id="floatingInputAbout"
                          placeholder="About the Book"></textarea>
                <label for="floatingInputAbout">About the Book</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInputISBN" placeholder="ISBN" name="isbn">
                <label for="floatingInputISBN">ISBN</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 my-3">Submit</button>
        </form>

    </div>
{% endblock %}